body {
	margin: 0;
	padding: 0;
	background: #19191a;
	font-family: "times new roman","comic sans ms",sans-serif;
	font-size:20px;
	color: #878787;
}
#title{
	height:100;
	font-weight:100;
}
h1 {
	color:#fff;
	font-size: 2.4em;
}
.titlemenu{
    	margin:0px auto;
    	padding:0;
    	width:25em;
}
.titlemenu li{
    	list-style:none;
    	display:inline;
    	background-color: #000000;
}
.clear { /* generic container (i.e. div) for floating buttons */
    	overflow: hidden;
    	width: 100%;
}
a.button {
    	background: transparent url('bg_button_span.gif') no-repeat scroll top right;
    	color: #ba0202;
    	display: block;
    	float: left;
    	font: normal 12px arial, sans-serif;
    	height: 24px;
    	margin-right: 6px;
    	padding-right: 18px; /* sliding doors padding */
    	text-decoration: none;
}

a.button span {
    	background: transparent url('bg_button span.gif') no-repeat;
    	display: block;
    	line-height: 14px;
    	padding: 5px 0 5px 18px;
}
a.button:active {
   	background-position: bottom right;
   	color: #ba0202;
    	outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    	background-position: bottom left;
    	padding: 6px 0 4px 18px; /* push text down 1px */
}

