<div id="new2" style="width:360px;height:355px;background-color:#E5DBDB;position:fixed;right:320px;top:420px" >
<h4 align='center' style="background-color:black; color:white">List of the Powerpoint Slides</h4>
<div id="new3" style="overflow:auto;width:355px;height:220px;padding:0px; margin-left:3px"">
<table style="overflow:auto;cell-padding:10px;padding:30px;width:400px;font-family:arial;background-color:white;font-size:10pt; ">
<tr><td  onMouseOver="imageS(1)" onclick="change(30,1)">Introduction</td></tr>
<tr><td style="margin-left:100px;background-color:#D8D4D4;" onMouseOver="imageS(2)" onclick="change(50,2)">The elephant in the room</td></tr>
<tr><td  onMouseOver="imageS(3)" onclick="change(60,3)">I am not in denial</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(4)" onclick="change(70,4)">What we are not talking about</td></tr>
<tr><td  onMouseOver="imageS(5)">Today’s Talk</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(6)" onclick="change(30,1)">My Childhood Dreams</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(7)">Image 1</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(8)">Image 2</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(9)">Image 3</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(10)">Image 4</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(11)">Image 5</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(12)"">Image 6 </td></tr>
<tr><td  onMouseOver="imageS(13)">My Childhood Dreams-The List</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(14)">i)Being in zero gravity</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(15)">Image</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(16)">The vomit comet</td></tr>
<tr><td style="text-align:center;margin-left:20px;" onMouseOver="imageS(17)">Brick walls are there for a reason</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(18)">Image 1</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(19)">Image 2</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(20)">ii)Making it to NFL-Football</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(21)" >I Never Made it to the NFL</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(22)">iii)Being an author in the World Book Encyclopedia</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(23)">Image 1</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(24)">Image 2</td></tr>
<tr><td  onMouseOver="imageS(25)">iv)Meeting Captain Kirk</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(26)">Dream</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(27)">Image 1</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(28)">Image 2</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(29)">Image 3</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(30)">Image 4</td></tr>
<tr><td  onMouseOver="imageS(31)">v)Winning STuffed Toys</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(32)">Image 1</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(34)">Image 2</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(35)">Image 3</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(36)">Image 4</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(37)">Image 5</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(38)">Image 6</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(39)">I can hear the cynics</td></tr>
<tr><td  onMouseOver="imageS(40)">vi)Being an Imagineer</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(41)">Image 1</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(42)">Image 2</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(43)">Image 3</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(44)">Image 4</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(45)">1991:VR on Five Dollars a Day</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(46)">Imagineering</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(47)">Image</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(48)">Introduction</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(49)">Jon Snoddy</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(50)">Image 1</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(51)">Image 2</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(52)">Alladin Image</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(53)">Image 1</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(54)">Image 2</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(55)">Image 3</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(56)">Image 4</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(57)">Charlie and the Chocolate Factory</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(58)">Working on Aladdin VR</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(59)">Really being an Imagineer</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(60)">Image</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(61)">Virtual Jungle Cruise</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(62)">Image</td></tr>
<tr><td style="background-color:#D8D4D4;" onMouseOver="imageS(63)">Enabling the Childhood Dreams of Others</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(64)">Image 1</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(65)">Image 2</td></tr>
<tr><td  onMouseOver="imageS(66)">Building Virtual Worlds</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(67)">The First Year</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(68)">Campus-wide Exhibition</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(69)">Image 1</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(70)">Image 3</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(71)">Image 4</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(72)">Image 5</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(73)">Image 6</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(74)">Image 7</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(75)">Image 8</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(76)">Image 9</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(77)">Image 10</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(78)">Image 11</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(79)">Image 12</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(80)">Image 13</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(81)">Image 14</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(82)">Image 15</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(83)">Image 16</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(84)">BVW was a pioneering course</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(85)">Image</td></tr>
<tr><td  onMouseOver="imageS(86)">The Dream Fulfillment Factory</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(87)">Entertainment Technology Center (ETC)</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(88)">Right Brain / Left Brain</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(89)">Don & I shared an office for six years</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(90)">Co-Director Credit for the ETC is Success</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(91)">The ETC is to masters degrees as Cirque Du Soleil is to circus</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(92)">ETC Curriculum: First Draft</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(93)">ETC Curriculum</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(94)">Key to the ETC is Success: Freedom</td></tr>
<tr><td style="background-color:#D8D4D4;text-align:center;" onMouseOver="imageS(95)">Edutainment</td></tr>
<tr><td style="text-align:center" onMouseOver="imageS(96)">Companies guaranteed hiring our students</td></tr>
</table>
</div>
</div>

